{block head}
	<script type="text/javascript" src="{$basePath}/lib/jcrop/jquery.Jcrop.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jcrop.js"></script>
	<link rel="stylesheet" href="/lib/jcrop/css/jquery.Jcrop.min.css">
{/block}


{block content}

<div class="uk-panel uk-panel-box content">
	<h3>Add Coaster</h3>
	{control coasterForm}
</div>

{/block}
