{block content}

<h3 class="uk-panel-title">Dashboard page</h3>
{$presenter->getDumpUser()}

<span>Unique Coasters Count: <b>{$coastersUniqueCount}</b></span>
</br>
<span>Total Coasters Count: <b>{$coastersTotalCount}</b></span>

{/block}
