services:
  router: App\RouterFactory::createRouter

  userRespository: App\Modules\Core\Repository\UserRepository
  coasterRespository: App\Modules\Core\Repository\CoasterRepository
  breweryRepository: App\Modules\Core\Repository\BreweryRepository	

  authService:
    class: App\Modules\AdminModule\Service\AuthService
    arguments: [@userRespository, %password%]
		
  managementService: 
    class: App\Modules\AdminModule\Service\ManagementService
    arguments: [@userRespository, @coasterRespository, @breweryRepository, %password%]