<!DOCTYPE html>
<html class="login-body">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="noindex, nofollow">

	<title>{block title}Coaster DB{/block}</title>

	<link rel="stylesheet" href="{$basePath}/lib/uikit/css/uikit_custom.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	<script type="text/javascript" src="{$basePath}/lib/jquery/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="{$basePath}/lib/uikit/js/uikit.min.js"></script>
	<script type="text/javascript" src="{$basePath}/lib/uikit/js/components/notify.js"></script>
	
	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>

	<div class="auth-form">
		{include #content}
	</div>
	
</body>
</html>
