<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">

	<title>{block title}Coaster db{/block}</title>

	<link rel="stylesheet" href="{$basePath}/lib/uikit/css/uikit_custom.css">
	<link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	
	<script type="text/javascript" src="{$basePath}/lib/jquery/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="{$basePath}/lib/uikit/js/uikit.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{$basePath}/lib/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/admin.js"></script>
	
	{block #head}{/block}

	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>

{include #content}

</body>
</html>
