<div class="uk-form filter">
	{form form}
		<table>
			<tr>
				<td><b>{label braveryName/}</b> {input braveryName}</td>
				<td><b>{label sortBy/}</b> {input sortBy}</td>
				<td><b>{label order/}</b> {input order}</td>
				<td>{input search}</td>
				<td></td>
			</tr>
		</table>
	{/form}
</div>